{{!-- template-lint-disable no-inline-styles --}}

<br>
<br>
<br>
<br>

<style>
  .myform {
    border-radius: 0px !important;
    border: 1px solid #AEAEAE !important;
    background-color: transparent !important;
  }

  .main {
    font-weight: 200 !important;
    color: #001737!important;
  }

  button {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400!important;
  }

  .approve {
    background-color: #2B80FF !important;
    color: white!important;
  }

  .mt-regular {
    background-color: #DDE4EB !important;
  }

  .mt-dark {
    color: #001737 !important;
  }
</style>

{{!-- BREADCRUMB --}}
{{#link-to "dashboard"}}
  <a >Dashboard ></a>
{{/link-to}}
{{!-- BREADCRUMB --}}
{{#link-to "remittance"}}
  <a >Remittance ></a>
{{/link-to}}

<h2 class="ui medium header main">
  Approve Remittance
</h2>

{{#if editView}}
  <button class="ui mt-dark mt-regular button" {{action "refresh"}}>
    <i class="sync icon" style="color: #2B80FF;"></i> Remove changes
  </button>
  <br>
  <br>
{{/if}}

<div class="ui stackable grid">
  <div class="eight wide column">
    <div class="ui compact form">
      <div class="compact field">
        <label for="">Sender: </label>
        {{input value=model.sender class="myform" keyUp=(action (mut editView) true)}}
      </div>
      <div class="field">
        <label for="">Receiver</label>
        {{input value=model.receiver class="myform" keyUp=(action (mut editView) true)}}
      </div>
      <div class="field">
        <label for="">Amount</label>
        {{input value=model.amount class="myform" keyUp=(action (mut editView) true)}}
      </div>
      <div class="field">
        <label for="">Date of Creation</label>
        {{input value=model.date type="date" class="myform" keyUp=(action (mut editView) true)}}
      </div>
      <div class="field">
        <label for=""> <i class="info icon"></i> Rest of remittance data would be displayed in real version!</label>
      </div>
    </div>
  </div>
</div>
<br>

{{#if editView}} 
  {{#if deleteView}}
    <div class="ui compact red segment">
      <h4 class="ui dividing header">
        By deleting this remittance you are deleting sensitive data etc.
      </h4>
      <button class="ui mt-dark mt-regular button" {{action (mut deleteView) false}}>
        Cancel
      </button>
      <button class="ui inverted red button"  {{action "delete"}}>
        <i class="trash icon"></i> Continue
      </button>
    </div>
  {{else}}
    <button class="ui mt-dark mt-regular button" {{action "edit"}}>
      <i class="fas fa-pencil-alt" style="color: #2B80FF"></i> Edit
    </button>
    <button class="ui red button" {{action (mut deleteView) true}}>
      <i class="trash icon"></i> Delete
    </button>
  {{/if}}
{{else}}
  <button class="ui button approve"  {{action "approve"}}>
    Approve
  </button>
{{/if}}
{{outlet}}