{{!-- template-lint-disable no-inline-styles --}}
<br>
<br>
<br>

<style>
  .main {
    font-weight: 200 !important;
    color: #001737!important;
  }
</style>

{{!-- BREADCRUMB --}}
{{#link-to "dashboard"}}
  <a >Dashboard ></a>
{{/link-to}}
{{!-- BREADCRUMB --}}
{{#link-to "remittance"}}
  <a >Remittance ></a>
{{/link-to}}

<h2 class="ui medium header main">
  Remittance Info
</h2>
<br>

<div class="ui stackable grid">
  <div class="eight wide column">
    <div class="ui form">
      <h4 class="ui dividing header" style="color: #001737    ">Sender</h4>
      <div class="three fields">
        <div class="field">
          <label for="">First Name</label>
          {{model.senderFirstName}}
        </div>
        <div class="field">
          <label for="">Middle Name</label>
          {{model.senderMiddleName}}
        </div>
        <div class="field">
          <label for="">Last Name</label>
          {{model.senderLastName}}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label for="">Customer Type</label>
          {{model.customerType}}
        </div>
        <div class="field">
          <label for="">Mobile</label>
          {{model.senderMobileNumber}}
        </div>
        <div class="field">
          <label for="">Tel</label>
          {{model.senderTel}}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label for="">Mother</label>
          {{model.senderMotherName}}
        </div>
        <div class="field">
          <label for="">Relationship</label>
          {{model.relationship}}
        </div>
        <div class="field">
          <label for="">Purpose</label>
          {{model.purpose}}
        </div>
      </div>
      <div class="field">
        <label for="">Comment</label>
        {{model.comment}}
      </div>
      <h4 class="ui dividing header" style="color: #001737    ">Receiver</h4>
      <div class="two fields">
        <div class="field">
          <label for="">Remittance Type</label>
          {{model.remittanceType}}
        </div>
        <div class="field">
          <label for="">MMT Types</label>
          {{model.mmtType}}
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label for="">Mobile</label>
          {{model.receiverMobile}}
        </div>
        <div class="field">
          <label for="">Full Name</label>
          {{model.receiverFullName}}
        </div>
      </div>
    </div>
  </div>
  <div class="eight wide column">
    <div class="ui form">
      <h4 class="ui dividing header" style="color: #001737    ">Amount</h4>
      <div class="three fields">
        <div class="field">
          <label for="">Amount</label>
          {{model.amount}}
        </div>
        <div class="field">
          <label for="">Currency</label>
          {{model.currency}}
        </div>
        <div class="field">
          <label for="">Service Percentage</label>
          {{model.servicePercentage}}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label for="">Service Charges</label>
          {{model.serviceCharges}}
        </div>
        <div class="field">
          <label for="">Total Amount</label>
          {{model.totalAmount}}
        </div>
        <div class="field">
          <label for="">Currency to Rate</label>
          {{model.currencyRate}}
        </div>
      </div>
      <div class="three fields">
        <div class="field">
          <label for="">Curr to Curr</label>
          {{model.currToCurr}}
        </div>
        <div class="field">
          <label for="">Receiving Amount</label>
          {{model.receivingAmount}}
        </div>
        <div class="field">
          <label for="">Total Amount in {{model.currency}}</label>
          {{model.currency}}
        </div>
      </div>
      <h4 class="ui dividing header" style="color: #001737    ">Payment</h4>
      <div class="field">
        <label for="">Payment Type</label>
        {{model.paymentType}}
      </div>
      <div class="field">
        <label for="">Total Amount</label>
        {{model.paymentAmount}}
      </div>
    </div>
  </div>
</div>