{{!-- template-lint-disable no-inline-styles --}}
<style>
  .main {
    font-weight: 200 !important;
    color: #001737!important;
  }

  #link: {
    color: inherit !important;
  }

  #input {
    border: 1px solid #AEAEAE;
    width: 280px;
  }

  th {
    font-weight: 600 !important;
    color: #001737!important;
  }
  #table {
    overflow-x: auto;
    white-space: nowrap;
  }

</style>

<br>
<br>
<br>
{{!-- BREADCRUMB --}}
{{#link-to "dashboard"}}
  <a >Dashboard ></a>
{{/link-to}}

<h2 class="ui medium header main">
  Remittance Management
</h2>
{{#link-to "remittance.new"}}
  <button style="color: #001737; background-color: transparent; border: 0; cursor: pointer">
    <i class="fas fa-plus" style="color: #2B80FF"></i> Add
  </button>
{{/link-to}}
&nbsp;&nbsp;&nbsp;
<button style="color: #001737; background-color: transparent; border: 0; cursor: pointer;" onclick="alert('Excel export activated');">
  <i class="fas fa-file-excel" style="color: #2B80FF"></i> Export to excel
</button>
<div class="ui divider" style="border: 1px solid #CDD6DC"></div>

<div class="ui input" id="input">
  {{input value=val placeholder="Search by name..." keyUp=(action "search" val)}}
</div>
<br>
<br>

<div id="table">
  <table class="ui selectable celled striped unstackable table" style="border-radius: 0px;">
    <thead>
      <tr>
        <th>Status</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Amount</th>
        <th>Date of Creation</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |rem|}}
        <tr>
          <td>
            {{#if (eq rem.status "Approve")}}
              {{#ui-popup content="Approve remittance by sender"}}
                {{#link-to "remittance.info.approve" rem class="ui blue label"}}
                  Approve
                {{/link-to}}
              {{/ui-popup}}
            {{else}}
              <div class="ui basic green label">
                Done
              </div>
            {{/if}}
          </td>
          <td>
            {{rem.senderFirstName}}
          </td>
          <td>
            {{rem.receiverFullName}}
          </td>
          <td>
            {{rem.amount}}
          </td>
          <td>
            {{rem.date}}
          </td>
          <td>
            <a href="/remittance/{{rem.id}}">
              <i class="fas fa-info-circle"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>



