{{!-- template-lint-disable no-inline-styles --}}
<style>
  .main {
    font-weight: 200 !important;
    color: #001737!important;
  }

  #link: {
    color: inherit !important;
  }

  #input {
    border: 1px solid #AEAEAE;
    width: 280px;
  }

  th {
    font-weight: 600 !important;
    color: #001737!important;
  }

  label {
    color: #001737 !important;
    font-family: 'Roboto', sans-serif;
  }

  .myform {
    border-radius: 0px !important;
    border: 1px solid #AEAEAE !important;
    background-color: transparent !important;
  }

  .field {
    word-wrap: break-word !important;
  }

  .mt-regular {
    background-color: #DDE4EB !important;
  }

  .mt-dark {
    color: #001737 !important;
  }

  button {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400!important;
  }

  .approve {
    background-color: #2B80FF !important;
    color: white!important;
  }


</style>

<br>
<br>
<br>
{{!-- BREADCRUMB --}}
{{#link-to "dashboard"}}
  <a >Dashboard ></a>
{{/link-to}}
{{#link-to "remittance"}}
  <a >Remittance ></a>
{{/link-to}}

<h2 class="ui medium header main">
  Add Remittance
</h2>

<div class="ui stackable secondary pointing menu">
  <a class="{{if this.senderView "active" ""}} item"  style="color: #001737" role="button" {{action "setActive" "sender"}}>
    Sender
  </a>
  <a class="{{if this.receiverView "active" ""}} item" style="color: #001737" role="button" {{action "setActive" "receiver"}}>
    Receiver
  </a>
  <a class="{{if this.amountView "active" ""}} item" style="color: #001737" role="button"  {{action "setActive" "amount"}}>
    Amount
  </a>
  <a class="{{if this.paymentView "active" ""}} item" style="color: #001737" role="button" {{action "setActive" "payment"}}>
    Payment
  </a>
  <a class="{{if this.reviewView "active" ""}} item" style="color: #001737" role="button"  {{action "setActive" "review"}}>
    Review + Create
  </a>
</div>

{{#if this.senderView}}
  <div class="ui stackable grid">
    <div class="eight wide column">
      <div class="ui form">
        <div class="field">
          <label for="">Search for sender</label>
          {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut rem))}}
            <div class="default text">Sender</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each model.remittances as |rem|}}
                <div data-value={{rem.id}} class="item" role="button" {{action "selectSender" rem}}>
                  {{rem.sender}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="required field">
          <label for="">Customer Type</label>
        </div>
        <div class="inline fields">
          <div class="field">
            {{ui-radio name="customerType" label="Individual" value="Individual" current=customerType onChange=(action (mut customerType))}}
          </div>
          <div class="field">
            {{ui-radio name="customerType" label="Coorporate" value="Coorporate" current=customerType  onChange=(action (mut customerType))}}
          </div>
        </div> 
        <div class=" required field">
          <label for="">First Name</label>
          {{input value=senderFirstName placeholder="Enter first name..." class="myform"}}
        </div>
        <div class="field">
          <label for="">Middle Name</label>
          {{input value=senderMiddleName placeholder="Enter middle name..." class="myform"}}
        </div>
        <div class=" required field">
          <label for="">Last Name</label>
          {{input value=senderLastName placeholder="Enter last name..." class="myform"}}
        </div>
        <div class=" required field">
          <label for="">Mobile Number</label>
          {{input value=senderMobileNumber placeholder="Enter mobile number..." class="myform"}}
        </div>
        <div class="field">
          <label for="">Tel</label>
          {{input value=senderTel placeholder="Enter tel..." class="myform"}}
        </div>
        <div class="field">
          <label for="">Mother Name</label>
          {{input value=senderMotherName placeholder="Enter mother name..." class="myform"}}
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui form">
        <div class="required field">
          <label for="">Relationship</label>
          {{input value=relationship placeholder="Enter relationship..." class="myform"}}
        </div>
        <div class="required field">
          <label for="">Purpose</label>
          {{input value=purpose placeholder="Enter purpose..." class="myform"}}
        </div>
        <div class="field">
          <label for="">Comments</label>
          {{textarea value=comment placeholder="Enter comment..." class="myform"}}
        </div>
      </div>
    </div>
  </div> 
{{/if}}

{{#if this.receiverView}}
  <div class="ui stackable grid">
    <div class="eight wide column">
      <div class="ui form">
        <div class="field">
          <label for="">Search for receiver</label>
          {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut rem))}}
            <div class="default text">Receiver</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each model.remittances as |rem|}}
                <div data-value={{rem.id}} class="item" role="button" {{action "selectReceiver" rem}}>
                  {{rem.receiver}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="required field">
          <label for="">Remittance Type</label>
        </div>
        <div class="inline fields">
          <div class="field">
            {{ui-radio name="remittanceType" label="Bank Transfer" value="Bank Transfer" current=remittanceType onChange=(action (mut remittanceType))}}
          </div>
          <div class="field">
            {{ui-radio name="remittanceType" label="Cash Collection" value="Cash Collection" current=remittanceType onChange=(action (mut remittanceType))}}
          </div>
          <div class="field">
            {{ui-radio name="remittanceType" label="Mobile Money" value="Mobile Money" current=remittanceType onChange=(action (mut remittanceType))}}
          </div>
        </div>
        <div class="required field">
          <label for="">MMT Types</label>
        </div>
        <div class="inline fields">
          <div class="field">
            <div class="ui radio checkbox" >
              {{ui-radio name="mmtType" label="Somalia" value="Somalia" current=mmtType onChange=(action (mut mmtType))}}
            </div>
          </div>
          <div class="field">
            {{ui-radio name="mmtType" label="Mpesa Transfer" value="Mpesa Transfer" current=mmtType onChange=(action (mut mmtType))}}
          </div>
        </div>
        <div class="required field">
          <label for="">Mobile</label>
          {{input value=receiverMobile placeholder="Enter mobile number..." class="myform"}}
        </div>
        <div class="required field">
          <label for="">Full Name</label>
          {{input value=receiverFullName placeholder="Enter full name..." class="myform" }}
        </div>
      </div>
    </div>
  </div>
{{/if}}


{{#if this.amountView}}
  <div class="ui stackable grid">
    <div class="eight wide column">
      <div class="ui form">
        <div class="required field">
          <label for="">Amount</label>
          {{input value=amount type="number" placeholder="Enter amount..." class="myform" }}
        </div>
        <div class="required field">
          <label for="">Currency</label>
          {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut c))}}
            <div class="default text">Currencies</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each currencies as |c|}}
                <div data-value={{c.id}} class="item" role="button" {{action "setCurrency" c.value}}>
                  {{c.value}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
        <div class="required field">
          <label for="">Service Percentage in %</label>
          {{input value=servicePercentage placeholder="Enter service percentage..." type="number" class="myform"}}
        </div>
        <div class="required field">
          <label for="">Service Charges in {{this.currency}}</label>
          {{input value=serviceCharges placeholder="Enter service charges" type="number" class="myform"}}
        </div>
        <div class="required field">
          <label for="">Total Amount in {{this.currency}}</label>
          {{input value=totalAmount placeholder="Enter total amount" type="number" class="myform"}}
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui form">
        <div class="required field">
          <label for="">Currency to {{this.currency}} Rate</label>
          {{input value=currencyRate placeholder="Enter currency rate..." type="number" class="myform"}}
        </div>
        <div class="required field">
          <label for="">Curr to Curr Rate</label>
          {{input value=currToCurr placeholder="Enter curr to curr" type="number" class="myform"}}
        </div>
        <div class="required field">
          <label for="">Receiving Amount</label>
          {{input value=receivingAmount placeholder="Enter receiving amount" type="number" class="myform"}}
        </div>
        <div class="required field">
          <label for="">Total Amount in {{this.currency}}</label>
          {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut c))}}
            <div class="default text">Currencies</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each currencies as |c|}}
                <div data-value={{c.id}} class="item" role="button">
                  {{c.value}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>

      </div> 
    </div>
  </div>
{{/if}}


{{#if paymentView}}
  <div class="ui stackable grid">
    <div class="eight wide column">
      <div class="ui form">
        <div class="required grouped fields">
          <label for="fruit">Payment Types:</label>
          <div class="field">
            {{ui-radio name="paymentType" label="Cash" value="Cash" current=paymentType onChange=(action (mut paymentType))}}
          </div>
          <div class="field">
            {{ui-radio name="paymentType" label="Cheque" value="Cheque" current=paymentType onChange=(action (mut paymentType))}}
          </div>
          <div class="field">
            {{ui-radio name="paymentType" label="Email transfer" value="Email transfer" current=paymentType onChange=(action (mut paymentType))}}
          </div>
          <div class="field">
            {{ui-radio name="paymentType" label="Wire" value="Wire" current=paymentType onChange=(action (mut paymentType))}}
          </div>
          <div class="field">
            {{ui-radio name="paymentType" label="Deposit Account" value="Deposit Account" current=paymentType onChange=(action (mut paymentType))}}
          </div>
          <div class="field">
            {{ui-radio name="paymentType" label="Card" value="Card" current=paymentType onChange=(action (mut paymentType))}}
          </div>
        </div>
        <div class="required field">
          <label for="">Amount</label>
          {{input value=paymentAmount placeholder="Enter payment amount..." class="myform" type="number"}}
        </div>
      </div>
    </div>
    <div class="eight wide column"></div>
  </div>
{{/if}}

{{#if reviewView}}
  <div class="ui stackable grid">
    <div class="eight wide column">
      <div class="ui form">
        <h4 class="ui dividing header" style="color: #001737    ">Sender</h4>
        <div class="three fields">
          <div class="field">
            <label for="">First Name</label>
            {{this.senderFirstName}}
          </div>
          <div class="field">
            <label for="">Middle Name</label>
            {{this.senderMiddleName}}
          </div>
          <div class="field">
            <label for="">Last Name</label>
            {{this.senderLastName}}
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label for="">Customer Type</label>
            {{this.customerType}}
          </div>
          <div class="field">
            <label for="">Mobile</label>
            {{this.senderMobileNumber}}
          </div>
          <div class="field">
            <label for="">Tel</label>
            {{this.senderTel}}
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label for="">Mother</label>
            {{this.senderMotherName}}
          </div>
          <div class="field">
            <label for="">Relationship</label>
            {{this.relationship}}
          </div>
          <div class="field">
            <label for="">Purpose</label>
            {{this.purpose}}
          </div>
        </div>
        <div class="field">
          <label for="">Comment</label>
          {{this.comment}}
        </div>
        <h4 class="ui dividing header" style="color: #001737    ">Receiver</h4>
        <div class="two fields">
          <div class="field">
            <label for="">Remittance Type</label>
            {{this.remittanceType}}
          </div>
          <div class="field">
            <label for="">MMT Types</label>
            {{this.mmtType}}
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label for="">Mobile</label>
            {{this.receiverMobile}}
          </div>
          <div class="field">
            <label for="">Full Name</label>
            {{this.receiverFullName}}
          </div>
        </div>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui form">
        <h4 class="ui dividing header" style="color: #001737    ">Amount</h4>
        <div class="three fields">
          <div class="field">
            <label for="">Amount</label>
            {{this.amount}}
          </div>
          <div class="field">
            <label for="">Currency</label>
            {{this.currency}}
          </div>
          <div class="field">
            <label for="">Service Percentage</label>
            {{this.servicePercentage}}
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label for="">Service Charges</label>
            {{this.serviceCharges}}
          </div>
          <div class="field">
            <label for="">Total Amount</label>
            {{this.totalAmount}}
          </div>
          <div class="field">
            <label for="">Currency to Rate</label>
            {{this.currencyRate}}
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label for="">Curr to Curr</label>
            {{this.currToCurr}}
          </div>
          <div class="field">
            <label for="">Receiving Amount</label>
            {{this.receivingAmount}}
          </div>
          <div class="field">
            <label for="">Total Amount in {{this.currency}}</label>
            {{this.currency}}
          </div>
        </div>
        <h4 class="ui dividing header" style="color: #001737    ">Payment</h4>
        <div class="field">
          <label for="">Payment Type</label>
          {{this.paymentType}}
        </div>
        <div class="field">
          <label for="">Total Amount</label>
          {{this.paymentAmount}}
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  {{#if createUserView}}
    <div class="ui raised compact blue segment">
      <h4 class="ui dividing header main">The Sender and/or Receiver do not have a user account!</h4>
      <button class="ui approve button" {{action "finalCreate" "user"}} >Create User + Remittance</button>
      <button class="ui red button" {{action (mut createUserView) false}}>Cancel</button>
    </div>
  {{else}}
    <button class="ui approve button" {{action "create"}}>
      Create Remittance
    </button>
  {{/if}}
{{/if}}

<br>
<br>
<br>

{{outlet}}